.contact-us
  %h2 Contact Us
  %p
    Hello and thank you for your interest. We are extremely flexible so please get in touch
    to schedule a viewing! Call Justin Cook at 319-455-6634 or email the Cook's at
    #{mail_to 'openhouse@3920Cadillac.com'} - Talk to you soon!