%h3 Measurements
%h4 Main Level
%ul
  %li Living room: 24’ x 13’
  %li Dining room: 15’ x 11’
  %li Kitchen: 15’ x 12’
  %li Bathroom: 10’ x 8’
  %li Bedroom: 14’ x 13’
  %li 2nd Bedroom: 13’ x 11’
  %li Office/Den: 13’ x 11’
  %li Porch: 15’ x 12’

%h4 Basement
%ul
  %li Laundry room: 31' x 13'
  %li Family room: 27' x 12'
  %li Multi-purpose room: 33' x 13'