.overview
  %h2 Overview
  %p
    Bright, spacious and open floorplan 2 bedroom, 1.75 bathroom
    Ranch-style home in a quiet neighborhood off of Progress Ave and
    Cedar Heights Drive. Ideally located at the division of Cedar Falls
    and Waterloo; 3 blocks from HyVee, Kmart & Walgreens. This home is in
    the Cedar Falls school district, possesses a large yard, 3 season porch,
    double garage, huge finished basement, original hardwood floors, and 2 wood
    fireplaces. The roomy bathroom features his & her sinks; the kitchen includes
    a dishwasher and lots of storage. This home is smoke-free, has new windows and
    blinds and a new roof laid in 2013. Washer and dryer are included; as well as
    optional furniture add-ins.