%h3 Quick Look
%ul
  %li 2 Bedrooms
  %li Optional 3<sup>rd</sup> bedroom/office
  %li 1 &frac34; Bathrooms
  %li 1456 Square Feet
  %li Built in 1959
  %li Cedar Falls School District
  %li Attached Double Garage
  %li 3 Season Porch
  %li Finished Basement
  %li New windows &amp; Roof (2013)
  %li Washer &amp; Dryer included
  %li 100% Smoke-free home